<div class="sidebar">

    <div class="sidebar-header">
      <h3>NeoMama</h3>
    </div>
  
    <ul class="sidebar-menu">
      <li>
        <a href="../pages/dashboard.html">Dashboard</a>
      </li>
      <li>
        <a href="../pages/patients.html">Patient Management</a>
      </li>
      <li>
        <a href="../pages/pregnancy.html">Pregnancy Monitoring</a>
      </li>
      <li>
        <a href="../pages/baby-record.html">Add Baby Record</a>
      </li>
      <li>
        <a href="../pages/baby-growth.html">Baby Growth</a>
      </li>
      <li>
        <a href="../pages/reports.html">Reports</a>
      </li>
      <li>
        <a href="../pages/ai-alerts.html">AI Alerts</a>
      </li>
      <li>
        <a href="../pages/manage-clinic.html">Manage Clinic</a>
      </li>
      <li>
        <a href="../pages/settings.html">Settings</a>
      </li>
    </ul>

    <div class="sidebar-footer">
        <button id="sidebarLogoutBtn" class="sidebar-logout-btn">Logout</button>
    </div>
  
  </div>
