<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">

    <a class="navbar-brand" data-link="home" href="#">NeoMama</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">

      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" data-link="about" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-link="features" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-link="how-it-works" href="#">How it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-link="contact" href="#">Contact</a>
        </li>
      </ul>

      <a data-link="login" href="#" class="btn login-btn">Login</a>

    </div>
  </div>
</nav>
